@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

$roboto:'Roboto Condensed', sans-serif;
$arial: Arial,Helvetica,sans-serif;

.roberto-font {
    font-family: $roboto;
}

.arial-font {
    font-family: $arial;
}
