@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

$roboto:'Roboto Condensed', sans-serif;
$arial: Arial,Helvetica,sans-serif;
$back-color:red;
$border:1px solid #dee2e6;

.roboto-font {
    font-family: $roboto;
}

.arial-font {
    font-family: $arial;
}

.back-ground-color {
    background-color: $back-color;
}

.boder-right {
    border-right: $border;
}

@media (max-width: 576px)
{
    .svg-logo-xs{
    width: 132px;
    height: 20px;
}
}

.hambutt{
    div {
        background-color: #f5f5dc;
        width: 22px;
        height: 1px;
    }
}

.ham-2 {
    margin-top: 5px;
}

.ham-3 {
    margin-top: 5px;
}

.w-resest {
    @media (min-width: 1024px) {
        width:fit-content;
    }
}